body {
    background-image: url(images/cottonbro.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
section {
    font-family: Calisto MT;
    text-align: center;
}
h1 {
    font-size: xx-large;
}
h2 {
    font-size: larger;
}
button {
    font-size: x-large;
    font-family: Calisto MT;
    background-color: burlywood;
}