body {
    background-image: url(images/cottonbro.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:'Roboto', sans-serif;;
    text-align: center;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 1,5rem;
}
button {
    font-size: 2rem;
    background-color: burlywood;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 6px;
}