body {
    background-color: #f5f0e8; 
    font-family: 'Josefin Slab';
    text-align: center;
}
#logo {
    text-align: center;
    background-color: white;
}
#menu {
    background-color: #cabfab;
    display: flex;
    justify-content: space-evenly;
}
a#menu:link, a#:visited {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #596e79;
    display: inline-block;
    font-family: 'Josefin Slab';
    background-color:#dfd8c8;
    border-radius: 6px;
    border-style: solid;
    padding: 15px;
}
a:hover {
    font-size: 20px;
    text-decoration: none;
    color: #dfd8c8;
    display: inline-block;
    font-family: 'Josefin Slab';
    background-color:#596e79;
    border-radius: 6px;
    border-style: solid;
    padding: 15px;
}
a:active {
    font-size: 20px;
    text-decoration: none;
    color: #596e79;
    display: inline-block;
    font-family: 'Josefin Slab';
    background-color:#dfd8c8;
    border-radius: 6px;
    border-style: solid;
    padding: 15px;
}