body {
    background-image: url(images/backgroung_green.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header {
    padding-top: 20px;
    padding-left: 150PX;
    padding-top: 140px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
header h3 a:link, a:visited, a:hover, a:active {
    background-color: whitesmoke;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
}