body {
    background-color: #f5f0e8; 
    font-family: 'Josefin Slab';
    text-align: center;
}
#logo {
    text-align: center;
    background-color: white;
}
a.menu:link, a.menu:visited {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #596e79;
    font-family: 'Josefin Slab';
    background-color:#dfd8c8;
    border-radius: 6px;
    border-style: solid;
    padding: 10px;
}
a.menu:hover {
    font-size: 15px;
    text-decoration: none;
    color: #dfd8c8;
    font-family: 'Josefin Slab';
    background-color:#596e79;
    border-radius: 6px;
    border-style: solid;
    padding: 10px;
}
a.menu:active {
    font-size: 15px;
    text-decoration: none;
    color: #596e79;
    font-family: 'Josefin Slab';
    background-color:#dfd8c8;
    border-radius: 6px;
    border-style: solid;
    padding: 10px;
}
#nav_menu {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}