body {
    background-color: #f5f0e8; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}
a.menu:link, a.menu:visited {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #596e79;
    font-family: 'Montserrat', sans-serif;
    background-color:#dfd8c8;
    border-radius: 6px;
    border-style: solid;
    padding: 10px;
}
a.menu:hover {
    font-size: 15px;
    text-decoration: none;
    color: #dfd8c8;
    font-family: 'Montserrat', sans-serif;
    background-color:#596e79;
    border-radius: 6px;
    border-style: solid;
    padding: 10px;
}
a.menu:active {
    font-size: 15px;
    text-decoration: none;
    color: #596e79;
    font-family: 'Montserrat', sans-serif;
    background-color:#dfd8c8;
    border-radius: 6px;
    border-style: solid;
    padding: 10px;
}
.sections {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.name {
    font-size: xx-large;
}
.representation {
    font-size: larger;
}
#section_about > p {
    font-size: medium;
}
#nav_menu {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}
#logo {
    text-align: center;
    background-color: white;
}
#section_about {
    background-color: #596e79;
    color: #dfd8c8;
}
#section_projects {
    color: #596e79;
}